<div class="widget-container">
  <div class="widget-container-header">
    <div class="widget-container-header-headline">Spezial Custom Dingsens{{widgetContent?.label}} - {{widget.contentSettings['label']}}</div>
    <div class="widget-container-header-actions">
        <button mat-icon-button [matMenuTriggerFor]="widgetMainMenu"><i class="material-icons-filled">more_vert</i></button>
        <mat-menu #widgetMainMenu="matMenu">
          <button mat-menu-item (click)="removeWidget()">Remove Widget</button>
          <button mat-menu-item (click)="reloadWidget()">Reload Widget</button>
          <button mat-menu-item (click)="openSettingsDialog()">Settings</button>
        </mat-menu>
    </div>
  </div>
  <div class="widget-container-content">
    <ng-template #portalRef (attached)="onComponentRendering($event)" [cdkPortalOutlet]="componentPortal"></ng-template>
  </div>
</div>
