:host {
  padding: 24px;
  height: 100%;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  height: 100%;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-content {
  flex-grow: 1;
  overflow-y: scroll;
  padding-right: 12px;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
}
