<mat-sidenav-container>

  <mat-sidenav [mode]="mode" [opened]="opened">

    <mat-nav-list>
      <div class="mainmenu">
        <div
        [ngClass]="navItem.path === router.url ? 'menuitem menuitem--active' : 'menuitem'"
        *ngFor="let navItem of data"
        (click)="navigate(navItem.path)">
          {{navItem?.title}}
        </div>
      </div>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="content">
      <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>
