:host {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .header-section {
    display: flex;
    align-items: stretch;
  }
  
  .header-section-headline {
    display: flex;
    flex-grow: 1;
  }
  
  .header-section-actions {
    display: flex;
    justify-content: end;
    gap: 24px;
  }
  
  .table-section {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow-y: scroll;
  }
  