<h1>Dragsortable and removable Tabs</h1>
<div style="margin-bottom: 48px;">
  <p>
    Drag and drop sortable tabs with a delete action on each
  </p>
</div>

<div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" #tabGroup animationDuration="1">

    <mat-tab *ngFor="let tab of tabs; let index = index; trackBy: trackByIndex">

      <ng-template mat-tab-label>

        <div class="child-menu-drop-list drag-list"
        [id]="CHILD_ID_NAME + index"
        (cdkDropListDropped)="onDropTab($event)"
        [cdkDropListConnectedTo]="(childMenuIds$ | async)!"
        cdkDropListOrientation="horizontal"
        cdkDropList>

          <div (cdkDragEntered)="onDragEntered($event)"
          (cdkDragExited)="onDragExited($event)"
          class="b-d-flex align-items-center"
          cdkDrag>

            <div *cdkDragPlaceholder class="drag-custom-placeholder"></div>

            <div class="drag-wrapper b-d-flex w-100">

              <div class="b-d-flex align-items-center">
                <i cdkDragHandle class="material-icons-filled dragable">drag_indicator</i>
                <div style="padding: 0 20px 0 10px; text-wrap: nowrap;">{{ tab.Name.Value }}</div>
              </div>

              <button (click)="onRemoveMenu($event, index)"
                      [disabled]="tabs.length === 1"
                      mat-icon-button>
                <i class="material-icons-filled">close</i>
              </button>

            </div>

          </div>

        </div>

      </ng-template>

      <div class="menu-content">
        Menu content xxx
      </div>

    </mat-tab>

    <mat-tab disabled>
      <ng-template mat-tab-label>
        <button mat-icon-button
                class="add-button"
                (click)="onAddChildControl($event)">
          <i class="material-icons-filled">add</i>
        </button>
      </ng-template>
    </mat-tab>

    </mat-tab-group>

</div>
