<div>

    <mat-tab-group
    backgroundColor="primary"
    color="primary"
    mat-stretch-tabs="false"
    mat-align-tabs="false">

        <mat-tab *ngFor="let tab of tabs; let i = index" [label]="tab?.Name?.Value" class="b-d-flex b-flex-nowrap">
            
            <ng-template matTabLabel>
                <div [id]="'list-'+i" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropTab($event)" [cdkDropListConnectedTo]="getTabConnections(i)" class="b-d-flex b-flex-wrap">
                    
                    <div cdkDrag class="b-d-flex b-flex-row b-align-items-center">
                        <div class="example-custom-placeholder" *cdkDragPlaceholder>⬇</div>
                        <i class="material-icons-outlined" cdkDragHandle>drag_indicator</i>
                        <div class="b-d-flex b-flex-row b-align-items-center"><span style="white-space: nowrap;">{{ tab?.Name?.Value }}</span></div>
                    </div>

                </div>
            </ng-template>

            <ng-template matTabContent><div style="padding: 24px;">{{ tab?.Name?.Value }}</div></ng-template>

        </mat-tab>

    </mat-tab-group>

</div>