<div class="b-d-flex b-justify-content-end">
  <button mat-icon-button (click)="dashboardService.addEmptyDashboard('Demoboard')" title="Add new empty dashboard">
    <i class="material-icons-filled">add</i>
  </button>
  <button mat-icon-button (click)="dashboardService.toggleEditMode()" title="Toggle editmode" [disabled]="dashboardService.dashboardCount <= 0">
    <i class="material-icons-filled">edit</i>
  </button>
  <button mat-icon-button (click)="dashboardService.saveToLocalStorage()" title="Save to local storage" [disabled]="dashboardService.dashboardCount <= 0">
    <i class="material-icons-filled">save</i>
  </button>
  <button mat-icon-button (click)="dashboardService.loadFromLocalStorage()" title="Load from local storage">
    <i class="material-icons-filled">settings_backup_restore</i>
  </button>
</div>

<div class="b-mt-4">
  <app-dashboard-tabs></app-dashboard-tabs>
</div>

<div class="b-mt-4">
  <app-dashboard></app-dashboard>
</div>
