<div id="timeslider" class="timeslider">

    <div id="dateaxis" class="timeslider__dateaxis">

        <div id="resizer-left" class="timeslider__dateaxis__resizer-left"></div>
        <div id="resizer-right" class="timeslider__dateaxis__resizer-right"></div>

        <div id="range" class="timeslider__dateaxis__range">
        </div>
        
        <div id="tick-container" class="timeslider__dateaxis__tick-container">
            <div id="tick" class="timeslider__dateaxis__tick-container__tick">|</div>
        </div>

    </div>

</div>