<p>tableform works!</p>
<!--



<form [formGroup]="form">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>{{ 'NAME#7e253e11-5be1-461a-a275-f54f672e7c9d' | translate }}</th>
      <td mat-cell *matCellDef="let row; let rowIndex = index">{{ row?.get('Name')?.value }}</td>
    </ng-container>

    <ng-container matColumnDef="Label">
      <th mat-header-cell *matHeaderCellDef>{{ 'LABEL#c65c3983-c117-41b6-804f-18cbf22a2e5e' | translate }}</th>
      <td mat-cell *matCellDef="let row; let rowIndex = index" [formGroup]="row">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ 'LABEL#c65c3983-c117-41b6-804f-18cbf22a2e5e' | translate }}</mat-label>
          <input
            matInput
            formControlName="label"
            [value]="row?.get('label')?.value" />
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="Color">
      <th mat-header-cell *matHeaderCellDef>{{ 'COLOR#e7947284-bb61-4581-ae78-ec09f2780ce3' | translate }}</th>
      <td mat-cell *matCellDef="let row; let rowIndex = index" [formGroup]="row">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ 'COLOR#e7947284-bb61-4581-ae78-ec09f2780ce3' | translate }}</mat-label>
          <input
            matInput
            formControlName="color"
            [value]="row?.get('color')?.value"
            type="color" />
        </mat-form-field>

        <audako4-color-picker #picker></audako4-color-picker>
      </td>
    </ng-container>

    <ng-container matColumnDef="Aggregation">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'AGGREGATION#11346005-1ec9-42e3-8863-a7f390c78d38' | translate }}
      </th>
      <td mat-cell *matCellDef="let row; let rowIndex = index" [formGroup]="row">
        <mat-form-field appearance="fill" class="w-full">
          <mat-select formControlName="aggregation" class="w-full" [value]="row?.get('aggregation')?.value">
            <mat-option *ngFor="let t of AggregationTypes" [value]="t">{{ t | translateEnum | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef>{{ 'SIGNALTYPE#28605022-cba6-4abb-93fb-d1498bd541c4' | translate }}</th>
      <td mat-cell *matCellDef="let row; let rowIndex = index">
        {{ row?.get('Type')?.value | translateEnum | translate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row; let rowIndex = index">
        <div class="flex justify-between">
          <button mat-icon-button title="Bearbeiten" (click)="openSignalSelectModal('Signal', rowIndex, 'update')">
            <i class="material-icons-filled">edit</i>
          </button>
          <button
            mat-icon-button
            title="{{ 'REMOVE#7af33fe6-7ddd-4d3e-b664-a77b33d6e3e8' | translate }}"
            (click)="removeRow(rowIndex)">
            <i class="material-icons-outlined">delete</i>
          </button>
          <button
            mat-icon-button
            title="{{ 'CHOOSE#54b4abf6-02b5-4be4-b7ea-6e2dd8f48ad3' | translate }}"
            (click)="openSingleSignalWindow(row?.get('Id').value, 'Signal')">
            <i class="material-icons-outlined">open_in_new</i>
          </button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="addEntity">
      <td mat-footer-cell *matFooterCellDef colspan="6">
        <button
          mat-icon-button
          style="margin: 0 auto; display: block"
          title="Hinzufügen"
          (click)="openSignalSelectModal('Signal', null, 'add')"
          class="audako-action-btn">
          <mat-icon>add</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="['addEntity']"></tr>
  </table>
</form>




-->