<mat-card>
    <mat-card-content>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef resizetablecolumn (resizetablecolumnchanged)="resizeTablecolumn($event)"> Vorname </th>
              <td mat-cell *matCellDef="let element" contenteditable="true" (blur)="userDataService.changeUserValueById(element?.id, 'first_name', $event)"> {{element?.first_name}} </td>
            </ng-container>

            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef resizetablecolumn (resizetablecolumnchanged)="resizeTablecolumn($event)"> Nachname </th>
              <td mat-cell *matCellDef="let element" contenteditable="true" (blur)="userDataService.changeUserValueById(element?.id, 'last_name', $event)"> {{element?.last_name}} </td>
            </ng-container>

            <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef resizetablecolumn (resizetablecolumnchanged)="resizeTablecolumn($event)"> Stadt </th>
              <td mat-cell *matCellDef="let element" contenteditable="true" (blur)="userDataService.changeUserValueById(element?.id, 'address.city', $event)"> {{element?.address?.city}} </td>
            </ng-container>

            <ng-container matColumnDef="country">
              <th mat-header-cell *matHeaderCellDef> Land </th>
              <td mat-cell *matCellDef="let element" contenteditable="true" (blur)="userDataService.changeUserValueById(element?.id, 'address.country', $event)"> {{element?.address?.country}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <div>
                  <button mat-icon-button (click)="userDataService.removeUserById(element?.id)">
                    <i class="material-icons-outlined">delete</i>
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </mat-card-content>
</mat-card>


<table style="width:100%;">
    <tr style="background: #F1F1F1;">
        <th resizetablecolumn (resizetablecolumnchanged)="resizeTablecolumn($event)">Lorem</th>
        <th resizetablecolumn (resizetablecolumnchanged)="resizeTablecolumn($event)">Ipsum</th>
        <th>Dolor</th>
    </tr>
    <tr>
        <td>XXX</td>
        <td>YYY</td>
        <td>CCC</td>
    </tr>
</table>

<div>
  <button mat-flat-button (click)="saveTableColumnWidth()">Save</button>
  <button mat-flat-button (click)="loadTableColumnWidth()">Load</button>
</div>