.tree {

    ul {
        list-style-type: none;
    
        li {
            padding: 5px;
            margin-bottom: 5px;
            background: #CCC;
    
            a {
                color: #000;     
            }
    
        }
    
    }

}