<div class="datagridtable-header">

  <div class="datagridtable-header__content">
    <ng-content select="app-datagridtable-headercontent"></ng-content>
  </div>

  @if(datagridTableService?.state?.orderColumns) {
    <div class="datagridtable-header__ordercolumn-actions">
      <app-datagridtable-ordercolumn></app-datagridtable-ordercolumn>
    </div>
  }

  <div class="datagridtable-header__columnfilter" style="border:1px solid red;" #columnfilter>
    <ng-content select="[columnfilter]"></ng-content>
  </div>

  <div class="datagridtable-header__resize-handle">
    <app-datagridtable-resizehandle [hidden]="isLastHeader() || !datagridTableService?.state?.resizeColumns" style="flex-grow: 1"></app-datagridtable-resizehandle>
  </div>

</div>
