<div id="valueslider" class="valueslider">

    <div id="dateaxis" class="valueslider__dateaxis">

        <div id="resizer-left" class="valueslider__dateaxis__resizer-left"></div>
        <div id="resizer-right" class="valueslider__dateaxis__resizer-right"></div>

        <div id="range" class="valueslider__dateaxis__range">
        </div>
        
        <div id="scale" class="valueslider__dateaxis__scale">
            <div id="tick" class="valueslider__dateaxis__scale__tick">|</div>
        </div>

    </div>

</div>