<div class="datagridtable">

  <div class="datagridtable__header">
    <div class="datagridtable__header__title">
      <ng-content select="app-datagridtable-title"></ng-content>
    </div>
    <div class="datagridtable__header__actions">
      <ng-content select="app-datagridtable-actions"></ng-content>
    </div>
  </div>

  <table mat-table [dataSource]="datagridTableService.state.dataSource" cdkDropList cdkDropListData="datagridTableService.state.dataSource.data" (cdkDropListDropped)="rowDropped($event)">

    <ng-content></ng-content>

    <tr mat-header-row *matHeaderRowDef="datagridTableService.state.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: datagridTableService.state.displayedColumns;" cdkDrag [cdkDragdata]="row" [cdkDragDisabled]="!dragSortRows"></tr>

  </table>

</div>
