.datagridtable {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background: white;
    padding: 16px;

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__title {
          flex-grow: 1;
      }

      &__actions {
      }
    }

    &__content {
      position: relative;
      display: flex;
      flex-grow: 1;
      overflow-y: scroll;
      overflow-x: auto;

      table {
        height: 0;

        &>th {
          width: 0;
        }

        &>td {
          width: 0;
        }

      }

    }

    &__footer {
      display: flex;
      align-items: center;

      &__paginator {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

    }

}

::ng-deep .mat-mdc-header-cell {
    overflow: initial !important;
}
