.datagridtable {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background: white;
    padding: 16px;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__title {
            flex-grow: 1;
        }

        &__actions {
        }

    }

}

::ng-deep .mat-mdc-header-cell {
    overflow: initial !important;
}
