<div class="datagridtable">

  <div class="datagridtable__header">

    <div class="datagridtable__header__left">
      <div class="datagridtable__header__left__title">
        <ng-content select="app-datagridtable-title"></ng-content>
      </div>
      <div class="datagridtable__header__left__selectionactions">
        <ng-content select="app-datagridtable-selectionactions"></ng-content>
      </div>
    </div>

    <div class="datagridtable__header__right">
      <ng-content select="app-datagridtable-actions"></ng-content>
    </div>

  </div>


  <div class="datagridtable__content">

    <ng-content select="app-datagridtable-loadingoverlay"></ng-content>
    <ng-content select="app-datagridtable-messageoverlay"></ng-content>

    <div class="datagridtable__content__tablewrapper">

      <table
        mat-table
        multiTemplateDataRows
        [dataSource]="datagridTableService.state.dataSource"
        cdkDropList
        cdkDropListData="datagridTableService.state.dataSource.data"
        (cdkDropListDropped)="rowDropped($event)"
        matSort
        #sort="matSort">

        <ng-content></ng-content>

        <tr mat-header-row *matHeaderRowDef="datagridTableService.state.displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: datagridTableService.state.displayedColumns;" cdkDrag [cdkDragData]="row" [cdkDragDisabled]="!dragSortRows"></tr>
        @if(rowDetailComponent) {
          <tr mat-row *matRowDef="let row; columns: ['rowdetail'];" class="datagrid-expand-row" [class.datagrid-expand-row-expanded]="datagridTableService.rowIsExpanded(row)"></tr>
        }

      </table>

    </div>

  </div>

  <div class="datagridtable__footer">
    <div class="datagridtable__footer__left">

    </div>
    <div class="datagridtable__footer__paginator">
      <ng-content select="app-datagridtable-paginator"></ng-content>
    </div>
  </div>

</div>
