<app-datagridtable-column matColumnDef>
  <th mat-header-cell *matHeaderCellDef>
    <mat-checkbox
    (change)="$event ? toggleAllRows() : null"
    [checked]="selectionModel.hasValue() && isAllSelected()"
    [indeterminate]="selectionModel.hasValue() && !isAllSelected()">
    </mat-checkbox>
  </th>
  <td mat-cell *matCellDef="let element">
    <mat-checkbox
    (click)="$event.stopPropagation()"
    (change)="$event ? selectionModel.toggle(element) : null"
    [checked]="selectionModel.isSelected(element)">
    </mat-checkbox>
  </td>
</app-datagridtable-column>
