<app-datagridtable-column matColumnDef>
  <th mat-header-cell *matHeaderCellDef>
    <mat-checkbox
    (change)="$event ? toggleAllRows() : null"
    [checked]="selection.hasValue() && isAllSelected()"
    [indeterminate]="selection.hasValue() && !isAllSelected()">
    </mat-checkbox>
  </th>
  <td mat-cell *matCellDef="let element">
    <mat-checkbox
    (click)="$event.stopPropagation()"
    (change)="$event ? selection.toggle(element) : null"
    [checked]="selection.isSelected(element)">
    </mat-checkbox>
  </td>
</app-datagridtable-column>
