<div style="height: 500px;">
  <app-datagridtable
    [dataSource]="dataSource"
    [columns]="displayedColumns"
    (service)="datagridTableService1 = $event"
    matSort
    #sort="matSort">

    <app-datagridtable-title title="Lorem Ipsum">
      <span prefix>Davor</span><span suffix>Danach</span>
    </app-datagridtable-title>

    <app-datagridtable-actions>
      <button mat-icon-button><i class="material-icons-filled">search</i></button>
      <button mat-icon-button (click)="addData()"><i class="material-icons-filled">add</i></button>
      <button mat-icon-button (click)="removeData()"><i class="material-icons-filled">remove</i></button>
      <button mat-icon-button [matMenuTriggerFor]="menu"><i class="material-icons-filled">more_vert</i></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Lorem</span>
        </button>
        <button mat-menu-item disabled>
          <span>Boretum</span>
        </button>
        <button mat-menu-item>
          <span>Spalten</span>
        </button>
        <app-datagridtable-columntoggle datagridtable-menu-item [menuitem]="true" [exclude]="['actions', 'position']"></app-datagridtable-columntoggle>
      </mat-menu>
    </app-datagridtable-actions>

    <app-datagridtable-paginator [pageSize]="3"></app-datagridtable-paginator>

    <app-datagridtable-loadingoverlay></app-datagridtable-loadingoverlay>

    @for(displayedColumn of displayedColumns; track displayedColumn; let index = $index) {
      @if(index < displayedColumns.length-1) {
        <app-datagridtablecolumn [matColumnDef]="displayedColumn">
          <th mat-header-cell *matHeaderCellDef>
            <app-datagridtable-header>
              <app-datagridtable-headercontent mat-sort-header>{{displayedColumn}}</app-datagridtable-headercontent>
              <app-datagridtable-ordercolumn></app-datagridtable-ordercolumn>
              <app-datagridtable-columnfilter-string columnfilter></app-datagridtable-columnfilter-string>
              <app-datagridtable-resizecolumn></app-datagridtable-resizecolumn>
            </app-datagridtable-header>
          </th>
          <td mat-cell *matCellDef="let element">
            <app-datagridtable-cell>{{element[displayedColumn]}}</app-datagridtable-cell>
          </td>
        </app-datagridtablecolumn>
      }@else {
        <app-datagridtablecolumn matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <app-datagridtable-rowactions [showMenuItems]="true">
              <button mat-icon-button title="Löschen" (click)="tester($event)"><mat-icon>add</mat-icon></button>
              <button mat-icon-button title="Hinzufügen" (click)="tester($event)"><mat-icon>delete</mat-icon></button>
              <button mat-menu-item title="Test" (click)="tester($event)">
                  <span class="b-d-flex b-align-items-center" style="gap: 8px;"><mat-icon>delete</mat-icon>Lorem ipsum</span>
              </button>
              <button mat-menu-item title="Test" (click)="tester($event)" class="b-d-flex b-align-items-center" style="gap: 8px;">
                <span class="b-d-flex b-align-items-center" style="gap: 8px;"><mat-icon>delete</mat-icon>Lorem ipsum</span>
              </button>
              <button mat-menu-item title="Test" (click)="tester($event)" class="b-d-flex b-align-items-center" style="gap: 8px;">
                <span class="b-d-flex b-align-items-center" style="gap: 8px;"><mat-icon>delete</mat-icon>Lorem ipsum</span>
              </button>
              <app-datagridtable-columntoggle datagridtable-menu-item [menuitem]="true" [exclude]="['actions', 'position']"></app-datagridtable-columntoggle>
            </app-datagridtable-rowactions>
          </td>
        </app-datagridtablecolumn>
      }
    }
  </app-datagridtable>
</div>

<br>
<br>
<br>

<div style="height: 300px;">
  <app-datagridtable
    [dataSource]="dataSource2"
    [columns]="displayedColumns2"
    [dragSortRows]="false">

    <app-datagridtable-title title="Dolor sit">
      Lorem Ipsum<span suffix>Danach</span><span suffix>Noch ein danach</span>
    </app-datagridtable-title>

    <app-datagridtable-actions>
      <button mat-icon-button (click)="addData2()"><i class="material-icons-filled">add</i></button>
      <button mat-icon-button (click)="removeData2()"><i class="material-icons-filled">remove</i></button>
      <button mat-icon-button [matMenuTriggerFor]="menu2"><i class="material-icons-filled">more_vert</i></button>
    </app-datagridtable-actions>

    <app-datagridtable-selectionactions></app-datagridtable-selectionactions>

    <app-datagridtable-selectioncolumn columnName="selection"></app-datagridtable-selectioncolumn>

    <app-datagridtablecolumn matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>
        <app-datagridtable-header>
          <app-datagridtable-headercontent>Position</app-datagridtable-headercontent>
          <app-datagridtable-columnfilter-string columnfilter></app-datagridtable-columnfilter-string>
        </app-datagridtable-header>
      </th>
      <td mat-cell *matCellDef="let element">
        <app-datagridtable-cell>{{element['position']}}</app-datagridtable-cell>
      </td>
    </app-datagridtablecolumn>

    <app-datagridtablecolumn matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <app-datagridtable-header>
          <app-datagridtable-headercontent>Name</app-datagridtable-headercontent>
          <app-datagridtable-columnfilter-string columnfilter [customFilterRef]="customStringFilter"></app-datagridtable-columnfilter-string>
        </app-datagridtable-header>
      </th>
      <td mat-cell *matCellDef="let element">
        <app-datagridtable-cell>{{element['name'].value}}</app-datagridtable-cell>
      </td>
    </app-datagridtablecolumn>

    <app-datagridtablecolumn matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>
        <app-datagridtable-header>
          <app-datagridtable-headercontent>Symbol</app-datagridtable-headercontent>
          <app-datagridtable-columnfilter-string columnfilter></app-datagridtable-columnfilter-string>
        </app-datagridtable-header>
      </th>
      <td mat-cell *matCellDef="let element">
        <app-datagridtable-cell>{{element['symbol']}}</app-datagridtable-cell>
      </td>
    </app-datagridtablecolumn>

    <app-datagridtablecolumn matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td datagridtablecell mat-cell *matCellDef="let element">
        <app-datagridtable-rowactions>
          <button mat-icon-button><i class="material-icons-filled">delete</i></button>
        </app-datagridtable-rowactions>
      </td>
    </app-datagridtablecolumn>


  </app-datagridtable>
<div>

  <br/>
  <br/>
  <br/>

<div style="height: 300px;">
  <app-datagridtable
    [dataSource]="tableData3"
    [columns]="displayedColumns3"
    (service)="datagridTableService3 = $event"
    [dragSortRows]="false">

    <app-datagridtable-title title="Dolor sit Lorem Ipsum Array">
      <span suffix>Danach</span><span suffix>Noch ein danach</span>
    </app-datagridtable-title>

    <app-datagridtable-actions>
      <button mat-icon-button (click)="addData3()"><i class="material-icons-filled">add</i></button>
      <button mat-icon-button (click)="removeData3()"><i class="material-icons-filled">remove</i></button>
      <button mat-icon-button [matMenuTriggerFor]="menu3"><i class="material-icons-filled">more_vert</i></button>
    </app-datagridtable-actions>

    <app-datagridtable-paginator [pageSize]="3"></app-datagridtable-paginator>

    @for(displayedColumn of displayedColumns; track displayedColumn; let index = $index) {
      @if(index < displayedColumns.length - 1) {
        <app-datagridtablecolumn [matColumnDef]="displayedColumn">
          <th mat-header-cell *matHeaderCellDef>
            <app-datagridtable-header>
              <app-datagridtable-headercontent>{{displayedColumn}}</app-datagridtable-headercontent>
              <app-datagridtable-columnfilter-string columnfilter></app-datagridtable-columnfilter-string>
            </app-datagridtable-header>
          </th>
          <td mat-cell *matCellDef="let element">
            <app-datagridtable-cell>{{element[displayedColumn]}}</app-datagridtable-cell>
          </td>
        </app-datagridtablecolumn>
      }@else {
        <app-datagridtablecolumn matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td datagridtablecell mat-cell *matCellDef="let element">
            <app-datagridtable-rowactions>
              <button mat-icon-button><i class="material-icons-filled">delete</i></button>
            </app-datagridtable-rowactions>
          </td>
        </app-datagridtablecolumn>
      }
    }

  </app-datagridtable>
</div>

<br/>
<br/>
<br/>

<div style="height: 800px;">
  <app-datagridtable
    [dataSource]="dataSourceGithub"
    [columns]="displayedColumnsGithub"
    [dragSortRows]="false"
    (service)="this.datagridTableServiceGithub = $event"
    matSort>

    <app-datagridtable-title title="Dolor sit">
      Lorem Ipsum<span suffix>Danach</span><span suffix>Noch ein danach</span>
    </app-datagridtable-title>

    <app-datagridtable-actions>
      <button mat-icon-button (click)="datagridTableServiceGithub.triggerStateChange(EDatagridTableStateChangeEvents.CHANGE_PAGE)"><i class="material-icons-filled">refresh</i></button>
      <button mat-icon-button [matMenuTriggerFor]="menu3"><i class="material-icons-filled">more_vert</i></button>
    </app-datagridtable-actions>

    <app-datagridtable-paginator [pageSize]="100" [connect]="false"></app-datagridtable-paginator>

    <app-datagridtable-loadingoverlay></app-datagridtable-loadingoverlay>
    <app-datagridtable-messageoverlay></app-datagridtable-messageoverlay>

    @for(displayedColumn of displayedColumnsGithub; track displayedColumn; let index = $index) {
      @if(index < displayedColumns.length - 1) {
        <app-datagridtablecolumn [matColumnDef]="displayedColumn">
          <th mat-header-cell *matHeaderCellDef>
            <app-datagridtable-header>
              <app-datagridtable-headercontent mat-sort-header>{{displayedColumn}}</app-datagridtable-headercontent>
              <app-datagridtable-columnfilter-string columnfilter></app-datagridtable-columnfilter-string>
            </app-datagridtable-header>
          </th>
          <td mat-cell *matCellDef="let element">
            <app-datagridtable-cell>{{element[displayedColumn]}}</app-datagridtable-cell>
          </td>
        </app-datagridtablecolumn>
      }@else {
        <app-datagridtablecolumn matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td datagridtablecell mat-cell *matCellDef="let element">
            <app-datagridtable-rowactions>
              <button mat-icon-button><i class="material-icons-filled">delete</i></button>
            </app-datagridtable-rowactions>
          </td>
        </app-datagridtablecolumn>
      }
    }

  </app-datagridtable>
</div>



<mat-menu #menu2="matMenu">
  <button mat-menu-item>
    <span>Lorem</span>
  </button>
  <button mat-menu-item>
    <span>Dolor sit amet</span>
  </button>
</mat-menu>

<mat-menu #menu3="matMenu">
  <button mat-menu-item>
    <span>Lorem</span>
  </button>
  <button mat-menu-item>
    <span>Dolor sit amet</span>
  </button>
</mat-menu>

<br>
<br>
<br>
<br>
<br>
