<app-datagridtable [dataSource]="tabledata" [columns]="displayedColumns" [dragSortRows]="true" [dragSortColumns]="true" [resizeColumns]="false">

  @for(displayedColumn of displayedColumns; track displayedColumn) {

    <app-datagridtablecolumn [matColumnDef]="displayedColumn">
      <th datagridtableheader mat-header-cell *matHeaderCellDef>{{displayedColumn}}</th>
      <td datagridtablecell mat-cell *matCellDef="let element">{{element[displayedColumn]}}</td>
    </app-datagridtablecolumn>

  }

</app-datagridtable>
