<app-datagridtable [dataSource]="dataSource" [columns]="displayedColumns" [dragSortRows]="true" [dragSortColumns]="true" [resizeColumns]="false" matSort #sort="matSort">

  <app-datagridtable-title title="Lorem Ipsum">
    <span prefix>Davor</span><span suffix>Danach</span>
  </app-datagridtable-title>

  <app-datagridtable-actions>
    <button mat-icon-button><i class="material-icons-filled">search</i></button>
    <button mat-icon-button (click)="addData()"><i class="material-icons-filled">add</i></button>
    <button mat-icon-button (click)="removeData()"><i class="material-icons-filled">remove</i></button>
    <button mat-icon-button [matMenuTriggerFor]="menu"><i class="material-icons-filled">more_vert</i></button>
  </app-datagridtable-actions>

  @for(displayedColumn of displayedColumns; track displayedColumn; let index = $index) {
    @if(index < displayedColumns.length-1) {
      <app-datagridtablecolumn [matColumnDef]="displayedColumn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <app-datagridtable-header>{{displayedColumn}}</app-datagridtable-header>
          <app-stringcolumnfilter [column]="displayedColumn"></app-stringcolumnfilter>
        </th>
        <td mat-cell *matCellDef="let element">
          <app-datagridtable-cell>{{element[displayedColumn]}}</app-datagridtable-cell>
        </td>
      </app-datagridtablecolumn>
    }@else{
      <app-datagridtablecolumn matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <app-datagridtable-rowactions>
            <button mat-icon-button title="Löschen" (click)="tester($event)"><i class="material-icons-filled">delete</i></button>
            <button mat-icon-button title="Hinzufügen" (click)="tester($event)"><i class="material-icons-filled">add</i></button>
            <button mat-menu-item title="Test" (click)="tester($event)">
              <div class="b-d-flex b-align-items-center" style="gap: 8px;">
                <i class="material-icons-filled">delete</i>
                <span>Lorem ipsum</span>
              </div>
            </button>
            <button mat-menu-item title="Test" (click)="tester($event)">
              <div class="b-d-flex b-align-items-center" style="gap: 8px;">
                <i class="material-icons-filled">delete</i>
                <span>Lorem ipsum</span>
              </div>
            </button>
            <button mat-menu-item title="Test" (click)="tester($event)">
              <div class="b-d-flex b-align-items-center" style="gap: 8px;">
                <i class="material-icons-filled">delete</i>
                <span>Lorem ipsum</span>
              </div>
            </button>
          </app-datagridtable-rowactions>
        </td>
      </app-datagridtablecolumn>
    }
  }

</app-datagridtable>

<br>
<br>
<br>

<app-datagridtable [dataSource]="dataSource2" [columns]="displayedColumns2" [dragSortRows]="false" [dragSortColumns]="false" [resizeColumns]="false">

  <app-datagridtable-title title="Dolor sit">
    Lorem Ipsum<span suffix>Danach</span><span suffix>Noch ein danach</span>
  </app-datagridtable-title>

  <app-datagridtable-actions>
    <button mat-icon-button (click)="addData2()"><i class="material-icons-filled">add</i></button>
    <button mat-icon-button (click)="removeData2()"><i class="material-icons-filled">remove</i></button>
    <button mat-icon-button [matMenuTriggerFor]="menu2"><i class="material-icons-filled">more_vert</i></button>
  </app-datagridtable-actions>

  @for(displayedColumn of displayedColumns; track displayedColumn; let index = $index) {
    @if(index < displayedColumns.length - 1) {
      <app-datagridtablecolumn [matColumnDef]="displayedColumn">
        <th mat-header-cell *matHeaderCellDef>
          <app-datagridtable-header>{{displayedColumn}}</app-datagridtable-header>
        </th>
        <td mat-cell *matCellDef="let element">
          <app-datagridtable-cell>{{element[displayedColumn]}}</app-datagridtable-cell>
        </td>
      </app-datagridtablecolumn>    
    }@else {
      <app-datagridtablecolumn matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td datagridtablecell mat-cell *matCellDef="let element">
          <app-datagridtable-rowactions>
            <button mat-icon-button><i class="material-icons-filled">delete</i></button>
          </app-datagridtable-rowactions>
        </td>
      </app-datagridtablecolumn> 
    }
  }

</app-datagridtable>


<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <span>Lorem</span>
  </button>
  <button mat-menu-item disabled>
    <span>Boretum</span>
  </button>
  <button mat-menu-item>
    <span>Dolor sit amet</span>
  </button>
</mat-menu>

<mat-menu #menu2="matMenu">
  <button mat-menu-item>
    <span>Lorem</span>
  </button>
  <button mat-menu-item>
    <span>Dolor sit amet</span>
  </button>
</mat-menu>

<br>
<br>
<br>
<br>
<br>