<h1>Load more on Scroll</h1>
<div style="margin-bottom: 48px;">
  <p>
    Intersection observer which loads more data from rest-Endpoint on Scroll Page-End.
  </p>
</div>

<div style="height: 400px; overflow-y: scroll; border:1px solid #CC0000;">
    <div *ngFor="let item of longList" style="width: 300px; padding:24px; border:1px solid #666; border-radius: 5px; margin-bottom: 24px;">
        <div>{{item?.first_name}} {{item?.last_name}}</div>
        <div>{{item?.address?.zip_code}} {{item?.address?.city}}</div>
    </div>
    <div observevisibility [debounceTime]="3000" (currentstate)="onState($event)" style="width: 300px; padding: 24px;"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
</div>