<details (clickoutside)="closeFilter()" #detail>
    <summary></summary>
    <div class="columnfilter" #content>
        <div class="columnfilter__header">Filter: {{columnName}}</div>
        <div class="columnfilter__content">
          <mat-form-field class="columnfilter__content__input">
            <mat-label>Filter</mat-label>
            <input matInput [formControl]="filterControl" placeholder="Filter" />
          </mat-form-field>
        </div>
        <div class="columnfilter__footer">
          <button mat-stroked-button class="columnfilter__footer__button" (click)="resetFilter()">Zurücksetzen</button>
          <button mat-flat-button color="primary" class="columnfilter__footer__button" (click)="updateFilter()">Anwenden</button>
        </div>
    </div>
</details>
