// Import material theming functions
@use 'sass:map';
@use '../../../../node_modules/@angular/material' as mat;
@use 'palette' as palette;

@include mat.core();
//@import './cssvargen';
//@include generate-material-classes;
@include mat.elevation-classes();
@include mat.app-background();

$primary: mat.m2-define-palette(palette.$palette-primary, 500);
$accent: mat.m2-define-palette(palette.$palette-accent, A200, A100, A400);
$warn: mat.m2-define-palette(palette.$palette-warn, A200, A100, A400);

$typoconfig: mat.m2-define-typography-config(
  $body-1: mat.m2-define-typography-level(14px, 13px, 400, -0.05em),
  $body-2: mat.m2-define-typography-level(14px, 13px, 400, -0.05em),
  $caption: mat.m2-define-typography-level(14px, 13px, 400, -0.05em),
  $button: mat.m2-define-typography-level(14px, 13px, 400, -0.05em),
  $overline: mat.m2-define-typography-level(14px, 13px, 400, -0.05em)
);

$theme: mat.m2-define-light-theme((
 color: (
   primary: $primary,
   accent: $accent,
   warn: $warn
 ),
 density: 0,
 typography: $typoconfig
));



// Emit theme-dependent styles for common features used across multiple components.
@include mat.elevation-classes();
@include mat.app-background();
@include mat.all-component-themes($theme);

$color-config: mat.m2-get-color-config($theme);

:root {
  --kitchensink-primary: #{mat.m2-get-color-from-palette($primary, 500)};
  --kitchensink-primary-contrast: #{mat.m2-get-color-from-palette($primary, 500-contrast)};
  --kitchensink-accent: #{mat.m2-get-color-from-palette($accent, 500)};
  --kitchensink-warn: #{mat.m2-get-color-from-palette($accent, 500-contrast)};
  --kitchensink-background: #{map.get(map.get($color-config, background), background)};
  --kitchensink-hover: #{map.get(map.get($color-config, background), focused-button)};
  --kitchensink-selected: #{map.get(map.get($color-config, background), focused-button)};
}
