<div class="b-d-flex">

  <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select [formControl]="widgetSelectControl">
      @for (widget of dashboardWidgetsKeys; track widget) {
        <mat-option [value]="widget">{{dashboardWidgets[widget].label}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button mat-mini-fab (click)="dashboardService.addWidget(widgetSelectControl.value)" [disabled]="!widgetSelectControl.value"><i class="material-icons-filled">add</i></button>

</div>
