<div class="b-d-flex">

    <mat-form-field>
      <mat-label>Widgets</mat-label>
      <mat-select [formControl]="widgetSelectControl">
        @for (widgetContent of dashboardService.widgetUtils.getAllContent(); track widgetContent) {
          <mat-option [value]="widgetContent?.id">{{widgetContent?.label}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button mat-mini-fab (click)="dashboardService.widgetUtils.add(widgetSelectControl.value)" [disabled]="!widgetSelectControl.value || dashboardService.dashboardUtils.getTotalCount() === 0"><i class="material-icons-filled">add</i></button>

</div>
