.tablecontainer {
  width: 100%;
  overflow: auto;
  border: 1px solid #CC0000;
}

.mat-column-position {
  min-width: 50px;
  width: 80px;
}

.mat-column-name {
  min-width: 200px;
  width: 250px;
}

.mat-column-symbol {
  min-width: 50px;
}

.mat-mdc-header-cell {
  text-align: start;
  justify-content: flex-start;
}
