<div class="dialog-container">

  <div class="dialog-header">
      <h2>Dashboard settings</h2>
      <div>
        <button mat-icon-button (click)="closeModalDialog()"><i class="material-icons-filled">close</i></button>
      </div>
  </div>

  <div class="dialog-content">
    @if(dashboard?.id) {
      <form [formGroup]="formGroup">

        <div class="b-d-flex b-flex-column">
          <mat-form-field>
            <mat-label>Label</mat-label>
            <input matInput formControlName="label" />
          </mat-form-field>
        </div>

      </form>
    }@else {
      <div>No active Dashboard</div>
    }

  </div>

  <div class="dialog-footer">
    <button mat-flat-button color="primary" (click)="updateDashboard()">Update and close</button>
  </div>

</div>
